
.alert.position-fixed {
  position: fixed;        
  top: 1rem;              
  right: 1rem;            
  z-index: 1050;       
    width: auto;            
  max-width: 90vw;       
}


@media (min-width: 576px) {
  .alert.position-fixed {
    max-width: 400px;
  }
}

.alert.position-fixed {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
  width: auto;
  max-width: 90vw;
}

@media (min-width: 576px) {
  .alert.position-fixed {
    max-width: 400px;
  }
}
